/*------------------------------------*\

		_tools.functions
    Created by krisztinavajda on 08/01/16.
\*------------------------------------*/

// Converts shorthand to the 4-value syntax.
//
// @param {List} $shorthand
//
// @example scss - Usage
//   .element {
//     margin: unpack(1em 2em);
//   }
//
// @example css - CSS Output
//   .element {
//     margin: 1em 2em 1em 2em;
//   }
@function unpack($shorthand) {
	@if length($shorthand) == 1 {
		@return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
	} @else if length($shorthand) == 2 {
		@return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
	} @else if length($shorthand) == 3 {
		@return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
	} @else {
		@return $shorthand;
	}
}





@function brightness($color) {
	@if type-of($color) == color {
		@return (red($color) * 0.299 + green($color) * 0.587 + blue($color) * 0.114) / 255 * 100%;
	}
	@else {
		@return unquote("brightness(#{$color})");
	}
}





@function contrast-color($color, $dark: $contrasted-dark-default, $light: $contrasted-light-default) {
	@if $color == null {
		@return null;
	}
	@else {
		$color-brightness: brightness($color);
		$dark-text-brightness: brightness($dark);
		$light-text-brightness: brightness($light);
		@return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
	}
}