/*------------------------------------*\

    _base.page
    Created by krisztinavajda on 08/01/16.
\*------------------------------------*/

html, body {
	height: 100%;
}

html {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;

	box-sizing: border-box;
}

body {
	background: #1e252d;
	color: $color-gray;
}

* {

	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}

}