/*------------------------------------*\

		_base.forms
    Created by krisztinavajda on 24/02/16.
\*------------------------------------*/

form {
	width: 380px;
	max-width: 90%;
	margin: $spacing-vertical auto;
	padding: 30px;

	background: rgba(darken($color-brand, 8%), .85);
	border-radius: $base-border-radius;

	@include media-query(palm) {
		margin: $spacing-vertical-palm auto;
		padding: 15px;
	}

  opacity: 0;
  transform: scale(0.7);
  transition: 300ms 3.2s cubic-bezier(.45,1.8,.5,.75);

  .content-loaded & {
    opacity: 1;
    transform: scale(1);
  }
}

.form__instructions {
  width: calc(100% - 100px);
  position: absolute;
  top: 0;
  right: 0;

  color: $color-brand-light;
  @include inuit-font-size(12px);
  text-align: right;

  @include media-query(palm) {
    line-height: 1;
  }
}

fieldset {
	margin-top: 20px;

  position: relative;

	border: none;

	&:first-of-type {
		margin-top: 0;
	}
}

legend {
	padding-bottom: 10px;

	@include inuit-font-size(16px);
	font-weight: 600;
	color: white;

  fieldset:first-of-type & {
    @include media-query(palm) {
      padding-top: 20px;
    }
  }
}

.input-group {
	margin-top: 10px;

	&:first-of-type {
		margin-top: 0;
	}
}

input {
	border: none;

	&[type="text"],
	&[type="email"] {
    padding: 12px 10px;

    border: 1px solid transparent; //needed so size doesn't change when validation gets added
		border-radius: $base-border-radius;

		@include inuit-font-size(15px);
		font-weight: 400;
		color: darken($color-brand, 40%);

		@include placeholder {
			color: $color-brand;
			font-weight: 300;
		}

    &.ng-dirty.ng-invalid {
      box-shadow: 0 0 3px $color-negative;
      border: 1px solid $color-negative;
    }
    &.ng-dirty.ng-valid {
      &:not(.ng-empty) {
        box-shadow: 0 0 3px $color-positive;
        border: 1px solid $color-positive;
      }
    }
	}

	&.full-width {
		width: 100%;
	}

	&.input--short {
		width: 60px;
	}
}

label {
	color: white;
	@include inuit-font-size(15px);
	font-weight: 400;
}
