/*------------------------------------*\

		_base.sections
    Created by krisztinavajda on 25/01/16.
\*------------------------------------*/

.section {
	max-width: $section-max-width;
	margin: auto;
	padding: 0 20px;

	&.full-width {
		max-width: none;
		padding: 0;
	}
}