/*------------------------------------*\

		_components.clouds
    Created by krisztinavajda on 25/02/16.
\*------------------------------------*/

.clouds {
	position: absolute;
	bottom: 250px;
	z-index: 0;

  animation: float 100s linear backwards infinite;

  &.clouds--duplicate {
    animation-delay: 60s;
  }
}

@keyframes float {
	from {
		left: 100%;
	}
	to {
		left: -100%;
	}
}
