/*------------------------------------*\

		_components.foreground
    Created by krisztinavajda on 24/02/16.
\*------------------------------------*/

.layer {
	position: relative;
}

.layer--foreground {
	width: 500px;
	max-width: 100%;
	margin: $spacing-vertical auto;

	position: relative;
	z-index: 20;

	@include media-query(palm) {
		margin: $spacing-vertical-palm auto;
	}
}

.layer--background {
	z-index: 10;
}
