/*------------------------------------*\

		_components.welcome-text
    Created by krisztinavajda on 24/02/16.
\*------------------------------------*/

.welcome-text__wrap {
  //Creating this wrap is necessary for responsive svg.
  //Otherwise height causes issues in webkit browsers
  width: 420px;
  max-width: 90%;
  height: 0;
  margin: auto;
  padding-bottom: 27%; //stands for width/height ratio

  position: relative;
}

.welcome-text {
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  filter: drop-shadow(1px 1px 1px darken($color-brand, 10%));
}

.welcome-text__letter {
  fill: white;
}
