/*------------------------------------*\

		_components.welcome-text
    Created by krisztinavajda on 24/02/16.
\*------------------------------------*/

.welcome-text {
  display: block;
  width: 420px;
  max-width: 90%;
  height: auto;
  margin: auto;

  text-align: center;
  filter: drop-shadow(1px 1px 1px darken($color-brand, 10%));
}

.welcome-text__letter {
  fill: white;
}
