/*------------------------------------*\

		_components.foreground
    Created by krisztinavajda on 24/02/16.
\*------------------------------------*/

.layer {
	position: relative;
}

.layer--foreground {
	width: 500px;
	max-width: 100%;
	margin: auto;

  position: relative;
	//position: absolute;
	//top: 0;
	//left: 0;
	//right: 0;
	z-index: 20;
}

.layer--background {
	z-index: 10;
}
