/*------------------------------------*\

		_components.welcome-text
    Created by krisztinavajda on 24/02/16.
\*------------------------------------*/

.welcome-text {
	margin-top: 80px;

	color: white;
	text-align: center;
}