/*------------------------------------*\

		_components.zeppelin
    Created by krisztinavajda on 24/02/16.
\*------------------------------------*/

$anim-time: 120s;
.zeppelin {
	width: 45%;

	position: absolute;
	bottom: 200px;
	z-index: 10;

	.active & {
		animation: fly-zeppelin $anim-time linear infinite;
	}
}

.zeppelin__img {
	display: block;
	width: 100%;

	position: relative;
}

.zeppelin__exhaust {
	display: block;
	width: 15%;
	height: auto;

	position: absolute;
	bottom: 40%;
	left: -9%;

	opacity: 0;

	.active & {
		animation: exhaust $anim-time ease infinite;
	}
}

.zeppelin--invert {
	width: 150px;
	position: absolute;
	top: 20%;
	z-index: 0;
	opacity: 0.9;

	.active & {
		animation: fly-zeppelin $anim-time linear reverse infinite;
	}
}
//TODO: add invert exhaust

@keyframes exhaust {
	18.5% {
		opacity: 0;
		transform: translate3d(0, 0, 0) scale(0.5);
	}
	19% {
		opacity: 0.8;
	}
	19.5% {
		opacity: 0;
		transform: translate3d(-30px, 0, 0) scale(1);
	}
	29.5% {
		opacity: 0;
		transform: translate3d(0, 0, 0) scale(0.5);
	}
	30% {
		opacity: 0.8;
	}
	30.5% {
		opacity: 0;
		transform: translate3d(-30px, 0, 0) scale(1);
	}
}

@keyframes fly-zeppelin {
	0% {
		left: -52%;
	}
	18% {
		transform: translate3d(0, 5px, 0);
	}
	18.5% {
		transform: translate3d(0, -5px, 0);
	}
	19% {
		transform: translate3d(0, 0, 0);
	}
	29% {
		transform: translate3d(0, 5px, 0);
	}
	29.5% {
		transform: translate3d(0, -5px, 0);
	}
	30% {
		transform: translate3d(0, 0, 0);
	}
	50% {
		left: 102%;
	}
	100% {
		left: 102%;
	}
}