/*------------------------------------*\

		_settings.colors
    Created by krisztinavajda on 08/01/16.
\*------------------------------------*/

$color-brand:       #8dc5d7;
$color-brand-dark:  darken($color-brand, 20%);
$color-brand-light: lighten($color-brand, 20%);

$color-gray:        #282828;
$color-gray-light:  #999;
$color-gray-ui:     #ddd;

$color-positive:    #82d3c5;
$color-negative:    #d38282;





// Page
$base-background-color:   white;
$base-text-color:         $color-gray;





// Links
$color-links:             $color-gray;
$color-links-attention:   $color-brand;
$color-links-carousel:    $color-gray-ui;





// Text
$color-text-dark:       $color-gray;





// Buttons
$color-btn:     $color-brand-dark;
