/*------------------------------------*\

		_trumps.text-aling
    Created by krisztinavajda on 24/02/16.
\*------------------------------------*/

.texta--l {
	text-align: left;
}

.texta--c {
	text-align: center;
}

.texta--r {
	text-align: right;
}